@import './variables.scss';
@import './mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2f3330;
  color: white;
}

body, input, button, textarea, p {
  font: 400 16px 'Open Sans', sans-serif;
}

h1, h2, h3{
  color: $foxfly-color-darken;
  font-family: 'Poppins', sans-serif;
}

h2{
  font-size: toRem(36);
}

h3{
  font-size: toRem(18);
}

p {
  font-size: toRem(18);
  @media (max-width: 767px) {
    font-size: toRem(12) !important;
  }
}